body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef0f6 !important;
}

nav {
    padding: 5px 10px 5px 10px !important;
    border-bottom: 2px !important;
    border-color: #0056b3 !important;
}

section {
    padding: 25px 20% 0 20%;
}